body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: rgba(28, 29, 24, 1);
}
a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}
/*header*/
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: relative;
  z-index: 1;
}
.nav h2 {
  font-size: 24;
}
.navMob {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
.navMob li {
  display: inline-block;
  margin-right: 10px;
}
.languageSwitch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 42px;
  border: 3px solid rgba(146, 154, 115, 1);
  border-radius: 50%;
}
.menuItems {
  display: none;
}
.menuButton {
  display: none;
}
.nav .menu {
  border-radius: 16px;
  padding-bottom: 15px;
  position: absolute;
  list-style-type: none;
  opacity: 0;
  visibility: hidden;
  top: 55px;
  left: 0;
  width: 40%;
  background-color: rgb(186, 217, 156);
  border: 1px solid rgb(186, 217, 156);
  border-top: none;
  transition: opacity 0.4s, visibility 0s linear 0.3s;
}
.nav .menu li {
  margin-top: 10px;
}

.nav.menu-open .menu {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}
/*main*/
.questionsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin-bottom: 20px;
}
.titleQuestionsSectionHD {
  display: none;
}
.titleQuestionsSection {
  padding: 20px 20px 36px 20px;
  background-image: linear-gradient(
    to left top,
    rgba(146, 154, 115, 1),
    rgba(205, 213, 176, 1)
  );
  border-radius: 16px;
}
.questionsSection ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.questionsSection ul li {
  display: inline-block;
  margin-right: 10px;
  font-size: 18px;
}
.questionsSection ul li:nth-child(-n + 2) {
  opacity: 0.5;
}
.questionsSection h2 {
  font-size: 40px;
}
.buttonLinkToAsk {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 350px;
  height: 76px;
  font-size: 24px;
  border-radius: 8px;
  box-shadow: 8px 8px 1px rgba(28, 29, 24, 1);
  transition: 0.5s;
  border: 1px solid black;
  background-color: rgba(246, 246, 241, 1);

}
.buttonLinkToAsk:hover {
  background-color: #d3a373;
  transition: 0.5s;
}
.searchQuestion {
  text-align: start;
  min-width: 350px;
  min-height: 100px;
  position: relative;
  background-color: white;
  background-image: url('icons/search.svg');
  background-size: 33px 33px;
  background-position: right 20px center;
  background-repeat: no-repeat;
  border: 1px solid rgba(146, 154, 115, 1);
  border-radius: 16px;
  font-size: 16px;
  line-height: 100px;
  color: black;
  padding-left: 40px;
}

.question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  color: rgba(28, 29, 24, 1);
}
.ellips {
  position: relative;
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background-color: rgba(146, 154, 115, 1);
}
.ellips img {
  position: absolute;
  top: 30%;
  left: 20%;
}
.questionTitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-basis: 60%;
}
.questionTitle h3 {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 8px;
}
.questionDate {
  display: flex;
  gap: 5px;
  font-size: 14px;
}
.questionDate :nth-child(2) {
  color: rgba(146, 154, 115, 1);
}
.viewQuantity {
  font-weight: 500;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}
.questionsPagination button {
  background-color: white;
  border: none;
}
.linksToQuestionsHD > div:first-child {
  display: none;
}
@media (min-width: 996px) {
  main {
    display: flex;
    justify-content: center;
    background-color: #f6f6f1;
    background-image: url('icons/mainBG.svg');
    background-position: right center;
    background-repeat: no-repeat;
  }
  #nav-collaps {
    display: none;
  }
  .menuItems {
    list-style-type: none;
    display: block;
  }
  .menuItems li {
    display: inline-block; /* Размещаем элементы в ряд */
    margin-right: 10px;
    font-size: 24px;
  }
  .menuButton {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 315px;
    height: 76px;
    font-size: 24px;
    border-radius: 8px;
    box-shadow: 8px 8px 1px rgba(28, 29, 24, 1);
    transition: 0.5s;
  }
  .menuButton:hover {
    background-color: #d3a373;
    transition: 0.5s;
  }
  .titleQuestionsSection {
    display: none;
  }
  .questionsSection {
    max-width: 1580px;
    min-width: 996px;
  }
  .listOfQuestions {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .searchQuestion {
    display: none;
  }
  .titleQuestionsSectionHD {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .titleQuestionsSectionHD :nth-child(1) {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 90px;
  }
  .titleQuestionsSectionHD h2 {
    font-size: 78px;
    font-weight: 400;
  }
  .diagonalArrowInQuestionsSection {
    width: 112px;
    height: 112px;
    border-radius: 10px;
    transition: 0.5s;
  }
  .diagonalArrowInQuestionsSection:hover {
    border-radius: 50%;
    background-color: #d3a373;
    transition: 0.5s;
    transform: rotate(90deg);
  }
  .question {
    background-color: white;
    height: 144px;
    padding-bottom: 16px;
    border-radius: 16px;
    transition: 0.5s;
    border: 1px solid white;
  }
  .question:hover {
    border: 1px solid black;
    transition: 0.5s;
  }
  .questionTitle h3 {
    font-size: 30px;
  }
  .ellips {
    width: 112px;
    height: 112px;
    transition: 0.5s;
  }
  .question:hover .ellips {
    background-color: black;
    transition: 0.5s;
  }
  .ellips img {
    top: 30%;
    left: 30%;
    width: 50px;
    height: 50px;
  }
  .viewQuantity {
    align-items: center;
  }
  .viewQuantity :nth-child(1) {
    font-size: 24px;
  }
  .questionsPagination {
    display: none;
  }
  .linksToQuestionsHD {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 152px;
  }
  .linksToQuestionsHD > div:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 28px;
    padding-right: 28px;
    background-color: rgba(205, 213, 176, 1);
    flex-basis: 60%;
    height: 100px;
    border-radius: 100px;
    font-size: 24px;
    transition: 0.5s;
  }
  .linksToQuestionsHD > div:first-child:hover {
    color: white;
    background-color: black;
    transition: 0.5s;
  }
  .linksToQuestionsHD > div:first-child img {
    transition: 0.5s;
  }
  .linksToQuestionsHD > div:first-child:hover img {
    filter: invert(100%);
    transition: 0.5s;
  }
}
